<!DOCTYPE html>
<section class="container my-24" id="about">
  <div class="mb-24 max-w-screen-xl mx-auto">
    <p class="text-lg font-medium text-primaryColor">
      À propos de "Mi Choco et Délices"
    </p>
    <h2
      class="mt-3 mb-4 text-3xl lg:text-4xl font-extrabold tracking-tight text-gray-900 md:text-3xl"
    >
      L’Art du chocolat noir, l’excellence du cacao
    </h2>
    <p class="font-light text-gray-500 sm:text-xl">
      Chez
      <span class="text-primaryColor font-medium">Mi Choco et Délices</span>,
      nous croyons que le chocolat est bien plus qu’une simple gourmandise :
      c’est une expérience, un voyage sensoriel qui commence dès la première
      bouchée. Notre passion ? Offrir un chocolat noir d’exception, élaboré avec
      soin à partir des meilleures fèves de cacao.
    </p>
  </div>
  <div class="max-w-screen-xl py-6 mx-auto space-y-12 lg:space-y-20 my-24">
    <div class="items-center gap-8 lg:grid lg:grid-cols-2 xl:gap-16">
      <div class="text-gray-500 sm:text-lg dark:text-gray-400">
        <h2
          class="mb-4 text-3xl font-extrabold tracking-tight text-gray-900 dark:text-white"
        >
          Un chocolat authentique et responsable
        </h2>
        <p class="mb-8 font-light 2xl:text-xl">
          Nous sélectionnons nos fèves de cacao auprès de producteurs engagés,
          favorisant une agriculture respectueuse de l’environnement et du
          commerce équitable. Nos recettes sont simples, naturelles et sans
          compromis : pas d’additifs, pas de conservateurs, juste du pur plaisir
          chocolaté.
        </p>
        <!-- List -->
        <ul
          class="pt-8 space-y-5 border-t border-gray-200 my-7 dark:border-gray-700"
        >
          <li class="flex space-x-3">
            <!-- Icon -->
            <svg
              class="flex-shrink-0 w-5 h-5 text-primaryColor"
              fill="currentColor"
              viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                clip-rule="evenodd"
              ></path>
            </svg>
            <span class="text-base leading-tight text-gray-900 dark:text-white"
              >Un prix juste pour tous</span
            >
          </li>
          <li class="flex space-x-3">
            <!-- Icon -->
            <svg
              class="flex-shrink-0 w-5 h-5 text-primaryColor"
              fill="currentColor"
              viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                clip-rule="evenodd"
              ></path>
            </svg>
            <span class="text-base leading-tight text-gray-900 dark:text-white"
              >Un chocolat pur, sans superflu</span
            >
          </li>
          <li class="flex space-x-3">
            <!-- Icon -->
            <svg
              class="flex-shrink-0 w-5 h-5 text-primaryColor"
              fill="currentColor"
              viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                clip-rule="evenodd"
              ></path>
            </svg>
            <span class="text-base leading-tight text-gray-900 dark:text-white"
              >Un service client toujours à votre écoute, 24h/24 et 7j/7</span
            >
          </li>
        </ul>
      </div>
      <img
        class="h-full mb-4 rounded-lg lg:mb-0 mt-16 lg:mt-0 lg:flex"
        src="assets/images/slider/slider-3.webp"
        alt="dark chocolate"
      />
    </div>
  </div>
  <!-- <app-team></app-team> -->
</section>
