<!DOCTYPE html>
<div class="mb-24 max-w-screen-xl mx-auto">
  <div class="max-w-screen-xl py-6 mx-auto space-y-12 lg:space-y-20">
    <div class="items-center gap-8 lg:grid lg:grid-cols-2 xl:gap-16">
      <div class="text-gray-500 sm:text-lg dark:text-gray-400 lg:order-2">
        <h2
          class="mb-4 text-3xl font-extrabold tracking-tight text-gray-900 dark:text-white"
        >
          Une Équipe de Passionnés au Service de l’Innovation
        </h2>
        <p class="mb-8 font-light 2xl:text-xl">
          Derrière Company, il y a une équipe d’experts engagés, unie par une
          mission commune : réinventer la finance pour la rendre plus
          accessible, plus transparente et plus performante. Nos développeurs,
          analystes financiers, experts en cybersécurité et spécialistes en IA
          travaillent chaque jour pour créer des solutions qui simplifient votre
          gestion financière tout en garantissant une sécurité maximale.
        </p>
      </div>
      <img
        class="w-full mb-4 rounded-lg lg:mb-0 mt-16 lg:mt-0 lg:flex lg:order-1"
        src="assets/images/team.jpg"
        alt="dashboard feature"
      />
    </div>
  </div>
</div>
