<!DOCTYPE html>
<footer class="container py-10 border-t border-gray-200">
  <div class="max-w-screen-xl">
    <div class="text-center lg:pt-0">
      <a
        [routerLink]="['/']"
        fragment="accueil"
        class="flex items-center justify-center"
      >
        <img
          src="assets/images/logo/mi-logo-1.png"
          class="mr-3 h-9 md:h-12 lg:h-16"
          alt="Logo"
        />
        <span
          class="self-center text-lg md:text-xl text-primaryColor font-semibold whitespace-nowrap"
          >Mi Choco et Délices</span
        >
      </a>
      <span class="block text-sm text-center text-gray-500"
        >© 2025 - Mi Choco et Délices - Tous droits réservés.
      </span>

      <ul class="flex justify-center mt-5 space-x-5">
        <li>
          <a
            href="https://www.facebook.com/share/1XGhwVfDMN/"
            target="_blank"
            class="text-primaryColor"
            aria-label="Facebook"
          >
            <svg
              class="size-6 md:size-9"
              fill="currentColor"
              viewBox="0 0 24 24"
              aria-hidden="true"
            >
              <path
                fill-rule="evenodd"
                d="M22 12c0-5.523-4.477-10-10-10S2 6.477 2 12c0 4.991 3.657 9.128 8.438 9.878v-6.987h-2.54V12h2.54V9.797c0-2.506 1.492-3.89 3.777-3.89 1.094 0 2.238.195 2.238.195v2.46h-1.26c-1.243 0-1.63.771-1.63 1.562V12h2.773l-.443 2.89h-2.33v6.988C18.343 21.128 22 16.991 22 12z"
                clip-rule="evenodd"
              />
            </svg>
          </a>
        </li>
        <li>
          <a
            href="https://wa.me/message/P4SDYIDFUJDMO1"
            target="_blank"
            class="text-primaryColor"
            aria-label="Whatsapp"
          >
            <svg
              class="size-6 md:size-9"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
            >
              <path
                fill="currentColor"
                fill-rule="evenodd"
                d="M12 4a8 8 0 0 0-6.895 12.06l.569.718-.697 2.359 2.32-.648.379.243A8 8 0 1 0 12 4ZM2 12C2 6.477 6.477 2 12 2s10 4.477 10 10-4.477 10-10 10a9.96 9.96 0 0 1-5.016-1.347l-4.948 1.382 1.426-4.829-.006-.007-.033-.055A9.958 9.958 0 0 1 2 12Z"
                clip-rule="evenodd"
              />
              <path
                fill="currentColor"
                d="M16.735 13.492c-.038-.018-1.497-.736-1.756-.83a1.008 1.008 0 0 0-.34-.075c-.196 0-.362.098-.49.291-.146.217-.587.732-.723.886-.018.02-.042.045-.057.045-.013 0-.239-.093-.307-.123-1.564-.68-2.751-2.313-2.914-2.589-.023-.04-.024-.057-.024-.057.005-.021.058-.074.085-.101.08-.079.166-.182.249-.283l.117-.14c.121-.14.175-.25.237-.375l.033-.066a.68.68 0 0 0-.02-.64c-.034-.069-.65-1.555-.715-1.711-.158-.377-.366-.552-.655-.552-.027 0 0 0-.112.005-.137.005-.883.104-1.213.311-.35.22-.94.924-.94 2.16 0 1.112.705 2.162 1.008 2.561l.041.06c1.161 1.695 2.608 2.951 4.074 3.537 1.412.564 2.081.63 2.461.63.16 0 .288-.013.4-.024l.072-.007c.488-.043 1.56-.599 1.804-1.276.192-.534.243-1.117.115-1.329-.088-.144-.239-.216-.43-.308Z"
              />
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
</footer>
