.bgImage {
  background-image: url("https://img.freepik.com/photos-gratuite/chocolat-noir-grains-cafe_1220-386.jpg?t=st=1740660532~exp=1740664132~hmac=67b7ad47c95a6cff1d37d63ddbddff32106e7d815cdad6960ff034301c9042db&w=2000");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/*
https://img.freepik.com/photos-gratuite/grains-cafe-morceaux-chocolat-amer_1220-384.jpg?t=st=1740660259~exp=1740663859~hmac=d5117c8ac608f5ee765d623ead62252f245681e09fd281152f4731b00e63d70a&w=2000

https://img.freepik.com/photos-gratuite/assortiment-sombre-floue-dessert-au-chocolat_23-2148553172.jpg?t=st=1740653219~exp=1740656819~hmac=20be09d73d61c2b4517d4d76071e7c0442e3252f59eedc34b58ed0f15b071b1a&w=2000

https://img.freepik.com/photos-gratuite/chocolat-noir-grains-cafe_1220-386.jpg?t=st=1740660532~exp=1740664132~hmac=67b7ad47c95a6cff1d37d63ddbddff32106e7d815cdad6960ff034301c9042db&w=2000*/
