<!DOCTYPE html>
<nav class="container w-full relative">
  <div class="flex items-center justify-between max-w-screen-xl mx-auto h-16">
    <app-logo></app-logo>
    <app-desktop-menu [menuItems]="menuItems"></app-desktop-menu>
    <!-- <div class="hidden lg:flex items-center justify-center">
      <button class="bg-primaryColor px-4 py-2 text-white rounded-lg">Créer un compte</button>
    </div> -->
    <div class="flex items-center justify-center lg:hidden">
      <app-toggle-menu
        (toggleMenu)="toggleMenu()"
        [isOpen]="isOpen"
      ></app-toggle-menu>
    </div>
  </div>
  <div
    class="lg:hidden absolute right-0 left-0 top-20 z-50"
    [ngClass]="{ 'animate-slideIn': isOpen, 'animate-slideOut': !isOpen }"
  >
    <div class="flex flex-col justify-center">
      <app-mobile-menu
        [menuItems]="menuItems"
        (closeMenu)="closeMenu()"
      ></app-mobile-menu>
    </div>
  </div>
</nav>
<!---->
