.bgImage {
  background-image: url("https://img.freepik.com/vecteurs-libre/conception-fond-garniture-au-chocolat_23-2148639891.jpg?t=st=1740663605~exp=1740667205~hmac=4308d97a388d9a448bb52622e2e0d383ab635e0a892539683ea2dcb55510d7d2&w=2000");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}