<!DOCTYPE html>
<section class="container mb-16 bg-gray-100 py-16">
  <div class="max-w-screen-xl">
    <div class="max-w-screen-sm mx-auto text-center">
      <h2 class="mb-4 text-3xl font-extrabold text-gray-900">
        Prêt à succomber à l’intensité du chocolat ?
      </h2>
      <p class="mb-6 font-light text-gray-500 md:text-lg">
        Découvrez nos produits d’exception et laissez-vous emporter par des
        saveurs authentiques. Commandez dès maintenant ou contactez-nous pour
        une sélection sur mesure.
      </p>
      <button class="bg-primaryColor text-xl px-4 py-2 text-white rounded-lg">
        <a
          href="https://wa.me/message/P4SDYIDFUJDMO1"
          target="_blank"
          aria-label="Whatsapp"
          >Commander maintenant
          <i class="ml-3 animate-bounce pi pi-cart-arrow-down"></i
        ></a>
      </button>
    </div>
  </div>
</section>
