<!DOCTYPE html>
<section class="container my-10 bg-gray-100 py-10">
  <div class="max-w-screen-xl">
    <div class="max-w-screen-md mx-auto text-center">
      <h2 class="mb-4 text-3xl font-extrabold text-gray-900">
        Du Brut, du Bon, du Bio
      </h2>
      <p class="font-light text-gray-500 md:text-lg">
        Pas d’additifs, pas de conservateurs, pas d’ingrédients artificiels.
        Juste du cacao, du savoir-faire et une passion inébranlable pour le vrai
        goût du chocolat.
      </p>
    </div>
  </div>
</section>
