<!DOCTYPE html>
<section class="container my-24" id="faq">
  <div class="max-w-screen-xl">
    <h1
      class="mb-6 lg:text-4xl text-3xl font-extrabold text-center text-gray-900 lg:mb-8"
    >
      Questions fréquemment posées
    </h1>
    <div class="max-w-screen-md mx-auto">
      <div
        id="accordion-flush"
        data-accordion="collapse"
        data-active-classes="bg-gray-100 rounded-xl text-gray-900"
        data-inactive-classes="text-gray-500"
      >
        <h2 id="accordion-flush-heading-1">
          <button
            type="button"
            class="flex items-center justify-between w-full py-5 font-medium rtl:text-right text-gray-500 border-b border-gray-200 gap-3 px-4 md:px-6"
            data-accordion-target="#accordion-flush-body-1"
            aria-expanded="true"
            aria-controls="accordion-flush-body-1"
          >
            <span>Quels sont les bienfaits du chocolat noir ?</span>
            <svg
              data-accordion-icon
              class="w-3 h-3 rotate-180 shrink-0"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 10 6"
            >
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M9 5 5 1 1 5"
              />
            </svg>
          </button>
        </h2>
        <div
          id="accordion-flush-body-1"
          class="hidden"
          aria-labelledby="accordion-flush-heading-1"
        >
          <div class="py-5 border-b border-gray-200">
            <p class="mb-2 text-gray-500 px-4 md:px-6">
              Le chocolat noir est riche en antioxydants, en magnésium et en
              flavonoïdes, ce qui en fait un excellent allié pour la santé du
              cœur et du cerveau. Il stimule aussi la production de sérotonine,
              favorisant une sensation de bien-être.
            </p>
          </div>
        </div>
        <h2 id="accordion-flush-heading-2">
          <button
            type="button"
            class="flex items-center justify-between w-full py-5 font-medium rtl:text-right text-gray-500 border-b border-gray-200 gap-3 px-4 md:px-6"
            data-accordion-target="#accordion-flush-body-2"
            aria-expanded="false"
            aria-controls="accordion-flush-body-2"
          >
            <span
              >Votre poudre de cacao contient-elle du sucre ou des additifs
              ?</span
            >
            <svg
              data-accordion-icon
              class="w-3 h-3 rotate-180 shrink-0"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 10 6"
            >
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M9 5 5 1 1 5"
              />
            </svg>
          </button>
        </h2>
        <div
          id="accordion-flush-body-2"
          class="hidden"
          aria-labelledby="accordion-flush-heading-2"
        >
          <div class="py-5 border-b border-gray-200">
            <p class="mb-2 text-gray-500 px-4 md:px-6">
              Non ! Notre poudre de cacao est 100 % pure, sans sucre ajouté,
              sans conservateurs ni additifs. Elle est parfaite pour les
              boissons chaudes, les pâtisseries et même les smoothies.
            </p>
          </div>
        </div>
        <h2 id="accordion-flush-heading-3">
          <button
            type="button"
            class="flex items-center justify-between w-full py-5 font-medium rtl:text-right text-gray-500 border-b border-gray-200 gap-3 px-4 md:px-6"
            data-accordion-target="#accordion-flush-body-3"
            aria-expanded="false"
            aria-controls="accordion-flush-body-3"
          >
            <span
              >Peut-on utiliser la pâte de chocolat au lait pour la pâtisserie
              ?</span
            >
            <svg
              data-accordion-icon
              class="w-3 h-3 rotate-180 shrink-0"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 10 6"
            >
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M9 5 5 1 1 5"
              />
            </svg>
          </button>
        </h2>
        <div
          id="accordion-flush-body-3"
          class="hidden"
          aria-labelledby="accordion-flush-heading-3"
        >
          <div class="py-5 border-b border-gray-200">
            <p class="mb-2 text-gray-500 px-4 md:px-6">
              Oui, absolument ! Notre pâte de chocolat au lait est idéale pour
              napper des crêpes, fourrer des gâteaux ou même réaliser des
              ganaches gourmandes. Son onctuosité en fait un ingrédient parfait
              pour vos recettes sucrées.
            </p>
          </div>
        </div>
        <h2 id="accordion-flush-heading-4">
          <button
            type="button"
            class="flex items-center justify-between w-full py-5 font-medium rtl:text-right text-gray-500 border-b border-gray-200 gap-3 px-4 md:px-6"
            data-accordion-target="#accordion-flush-body-4"
            aria-expanded="false"
            aria-controls="accordion-flush-body-4"
          >
            <span
              >Comment conserver vos produits pour préserver leur saveur ?</span
            >
            <svg
              data-accordion-icon
              class="w-3 h-3 rotate-180 shrink-0"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 10 6"
            >
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M9 5 5 1 1 5"
              />
            </svg>
          </button>
        </h2>
        <div
          id="accordion-flush-body-4"
          class="hidden"
          aria-labelledby="accordion-flush-heading-4"
        >
          <div class="py-5 border-b border-gray-200">
            <p class="mb-2 text-gray-500 px-4 md:px-6">
              Pour garantir une qualité optimale, conservez votre chocolat et
              votre poudre de cacao dans un endroit frais et sec, à l’abri de la
              lumière et de l’humidité. La pâte de chocolat au lait se conserve
              idéalement dans un pot hermétique à température ambiante.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!---->
