<!DOCTYPE html>
<section class="container my-24">
  <div class="max-w-screen-lg mx-auto">
    <div
      class="grid grid-cols-1 lg:grid-cols-2 gap-8 md:gap-4 place-items-center"
    >
      <div class="flex flex-col gap-8 items-center justif-center w-full">
        <h1
          class="text-3xl font-extrabold text-gray-900"
        >
          La solution idéale pour une livraison rapide et sans souci
        </h1>
        <div
          class="flex items-center justify-center w-full overflow-hidden bg-primaryColor rounded-xl"
        >
          <img
            class="object-cover h-full"
            src="assets/images/delivery/delivery.jpg"
            alt="delivery"
          />
        </div>
      </div>
      <div
        class="flex flex-col gap-8 justify-center w-full py-8 text-gray-500 sm:text-lg border-0 rounded-xl px-4 lg:px-8"
      >
        <ol class="relative border-s border-gray-200">
          <li class="mb-10 ms-6">
            <span
              class="absolute flex items-center justify-center w-6 h-6 bg-violet-200 rounded-full -start-3 ring-8 ring-white"
            >
              <svg
                class="size-4 text-primaryColor"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                fill="currentColor"
                viewBox="0 0 24 24"
              >
                <path
                  fill-rule="evenodd"
                  d="M12 2c-.791 0-1.55.314-2.11.874l-.893.893a.985.985 0 0 1-.696.288H7.04A2.984 2.984 0 0 0 4.055 7.04v1.262a.986.986 0 0 1-.288.696l-.893.893a2.984 2.984 0 0 0 0 4.22l.893.893a.985.985 0 0 1 .288.696v1.262a2.984 2.984 0 0 0 2.984 2.984h1.262c.261 0 .512.104.696.288l.893.893a2.984 2.984 0 0 0 4.22 0l.893-.893a.985.985 0 0 1 .696-.288h1.262a2.984 2.984 0 0 0 2.984-2.984V15.7c0-.261.104-.512.288-.696l.893-.893a2.984 2.984 0 0 0 0-4.22l-.893-.893a.985.985 0 0 1-.288-.696V7.04a2.984 2.984 0 0 0-2.984-2.984h-1.262a.985.985 0 0 1-.696-.288l-.893-.893A2.984 2.984 0 0 0 12 2Zm3.683 7.73a1 1 0 1 0-1.414-1.413l-4.253 4.253-1.277-1.277a1 1 0 0 0-1.415 1.414l1.985 1.984a1 1 0 0 0 1.414 0l4.96-4.96Z"
                  clip-rule="evenodd"
                />
              </svg>
            </span>
            <h3
              class="flex items-center mb-1 text-lg font-semibold text-gray-900"
            >
              Simplicité
            </h3>
            <p class="mb-4 text-base font-light text-gray-500">
              Recevez vos chocolats préférés directement chez vous, sans tracas.
              Une commande rapide, une expédition soignée et une livraison en
              toute sérénité.
            </p>
          </li>
          <li class="mb-10 ms-6">
            <span
              class="absolute flex items-center justify-center w-6 h-6 bg-violet-200 rounded-full -start-3 ring-8 ring-white"
            >
              <svg
                class="size-4 text-primaryColor"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                fill="currentColor"
                viewBox="0 0 24 24"
              >
                <path
                  fill-rule="evenodd"
                  d="M2.586 4.586A2 2 0 0 1 4 4h8a2 2 0 0 1 2 2h5a1 1 0 0 1 .894.553l2 4c.07.139.106.292.106.447v4a1 1 0 0 1-1 1h-.535a3.5 3.5 0 1 1-6.93 0h-3.07a3.5 3.5 0 1 1-6.93 0H3a1 1 0 0 1-1-1V6a2 2 0 0 1 .586-1.414ZM18.208 15.61a1.497 1.497 0 0 0-2.416 0 1.5 1.5 0 1 0 2.416 0Zm-10 0a1.498 1.498 0 0 0-2.416 0 1.5 1.5 0 1 0 2.416 0Zm5.79-7.612v2.02h5.396l-1-2.02h-4.396ZM9 8.667a1 1 0 1 0-2 0V10a1 1 0 0 0 .293.707l1.5 1.5a1 1 0 0 0 1.414-1.414L9 9.586v-.92Z"
                  clip-rule="evenodd"
                />
              </svg>
            </span>
            <h3 class="mb-1 text-lg font-semibold text-gray-900">
              Flexibilité
            </h3>
            <p class="text-base font-light text-gray-500">
              Que vous soyez chez vous ou au bureau, nous nous adaptons à votre
              rythme. Livraison standard ou express, choisissez l’option qui
              vous convient le mieux pour savourer votre chocolat sans attendre.
            </p>
          </li>
          <li class="ms-6">
            <span
              class="absolute flex items-center justify-center w-6 h-6 bg-violet-200 rounded-full -start-3 ring-8 ring-white"
            >
              <svg
                class="size-4 text-primaryColor"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="currentColor"
                viewBox="0 0 24 24"
              >
                <path
                  fill-rule="evenodd"
                  d="M8 10V7a4 4 0 1 1 8 0v3h1a2 2 0 0 1 2 2v7a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2v-7a2 2 0 0 1 2-2h1Zm2-3a2 2 0 1 1 4 0v3h-4V7Zm2 6a1 1 0 0 1 1 1v3a1 1 0 1 1-2 0v-3a1 1 0 0 1 1-1Z"
                  clip-rule="evenodd"
                />
              </svg>
            </span>
            <h3 class="mb-1 text-lg font-semibold text-gray-900">Sécurité</h3>
            <p class="text-base font-light text-gray-500">
              Vos commandes sont expédiées avec le plus grand soin, dans un
              emballage préservant toute la fraîcheur et l’intensité de nos
              chocolats. Suivi en temps réel et service client disponible pour
              garantir une expérience sans stress.
            </p>
          </li>
        </ol>
      </div>
    </div>
  </div>
</section>
